<nz-table
      nzShowSizeChanger
      [nzData]="curTinhs"
      [nzFrontPagination]="false"
      [nzPageSizeOptions]="[5,10,15]"
      [nzLoading]="loading"
      [nzTotal]="total"
      [(nzPageSize)]="pageSize"
      [(nzPageIndex)]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th nzColumnKey="Id" >Id</th>
          <th nzColumnKey="name" >Tỉnh</th>
          <th nzColumnKey="TTTU" >TTTU</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tinh of curTinhs" (click)="onTinhSelect($event,tinh.tinhId)">
          <td>{{ tinh.tinhId }}</td>
          <td>{{ tinh.name }}</td>
          <td>{{ tinh.tttu }}</td>
          <td [nzRight]="fixedColumn" >
            <a routerLink="./{{tinh.tinhId}}">Edit</a>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="primary" nzDanger (click)="deleteTinh(tinh.tinhId)">Xóa</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
