<form nz-form sub [formGroup]="addingForm" (ngSubmit)="formSubmit$.next()" >
    <nz-form-item>
      <nz-form-label [nzSpan]="5">Tên huyện</nz-form-label>
      <nz-form-control nzHasFeedback [nzSpan]="12" [nzErrorTip]="nameErrorTpl" >
        <input
            nz-input formControlName="name" required
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="5">Tỉnh </nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="nameErrorTpl" >

            <nz-select [(ngModel)]="curTinhId"  formControlName="tinhId">
                <nz-option *ngFor="let tinh of tinhs" nzValue="{{tinh.tinhId}}" nzLabel="{{tinh.name}}"></nz-option>
              </nz-select>

        </nz-form-control>
    </nz-form-item>

    <nz-form-item >
        <nz-form-control [nzSpan]="12" [nzOffset]="5" [nzErrorTip]="nameErrorTpl">
            <button
                nz-button nzType="primary"
                type="submit"
                [disabled]="addingForm.invalid"
            >
            Thêm
            </button>
          </nz-form-control>
    </nz-form-item>

</form>

<ng-template #nameErrorTpl let-control>
  <ng-container *ngIf="control.hasError('huyenNameExistInTinh')">
      Huyện này đã có trong tỉnh đã chọn !
  </ng-container>
  <ng-container *ngIf="control.hasError('pattern')">
    Tên bắt đầu bằng các kí tự ('a-z, 'A'-'Z') và có 2 kí tự trở lên
  </ng-container>
</ng-template>

<div *ngIf="addingForm.hasError('huyenNameExistInTinh')">
  Huyện này đã có trong tỉnh đã chọn !
</div>

