list data

<nz-page-header class="site-page-header"
  [nzTitle]="'Danh huyện tỉnh mục'"
  [nzSubtitle]="' '"
>
  <nz-page-header-title>Title</nz-page-header-title>
  <nz-page-header-subtitle>This is a subtitle</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button [routerLink]="'../add-tinh'" >Thêm tỉnh</button>
    <!--<button nz-button [routerLink]="'../add-huyen'" >Thêm huyện</button>-->
    <button nz-button [routerLink]="'../add-huyen'" >Thêm huyện</button>
  </nz-page-header-extra>
  <nz-page-header-content>
  </nz-page-header-content>
</nz-page-header>


<app-tinh (onTinhSelectEmitter)="onTinhSelect($event)">
</app-tinh>
<app-huyen [tinhId]="tinhId" >
</app-huyen>
